<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [mode]="over" class="menu-container">
    <div class="example-button-row">
      <mat-toolbar>
        <button mat-list-item (click)="sidenav.toggle()">
          <mat-icon aria-label="Example icon-button with a heart icon">keyboard_backspace</mat-icon>
        </button>
        <span>Ocultar</span>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <mat-action-list>
        <!-- Si no queda bien con el boton poner <at-action-list> -->
        <mat-grid-list class="item-lista" cols="5" rowHeight="5" *ngFor="let item of menu">
          <button mat-list-item routerLink="{{item.ruta}}" (click)="sidenav.toggle()">
            <mat-grid-tile [colspan]=4 [rowspan]=5>
              <p>{{item.nombre}}</p>
            </mat-grid-tile>
            <mat-grid-tile [colspan]=1 [rowspan]=5>
              <mat-icon aria-label="Menu">{{item.icono}}</mat-icon>
            </mat-grid-tile>
          </button>
        </mat-grid-list>
      </mat-action-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <button mat-button class="boton-menu" (click)="sidenav.toggle()">
        <mat-icon aria-label="Menu">dehaze</mat-icon>
        <span> Menu</span>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>